/**
 * JS Tree
 */
.jstree .jstree-icon {
  display: inline-block;
  opacity: 1;
  margin: 0 .25rem 0 0;
  width: 1.18em;
  height: 1em;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.jstree .jstree-icon.root::before {
  content: "\f015";
}
.jstree .jstree-icon.content::before {
  content: "\f016";
}
.jstree .jstree-icon.static::before {
  content: "\f15c";
}
.jstree .jstree-icon.redirect::before {
  content: "\f064";
}
.jstree .jstree-icon.shop_category::before {
  content: "\f07b";
}
.jstree .jstree-icon.controller::before {
  content: "\f1e6";
}
.jstree .jstree-icon.published::before {
  color: green;
}
.jstree .jstree-icon.unpublished::before {
  color: red;
}
